.container {
  composes: container from '../Container.module.css';
  max-inline-size: 50rem;
  color: var(--color-text-secondary);
  font-size: 0.875rem;
}

.heading {
  font-size: 1.375rem;
  margin: 0;
}

.anchor {
  color: inherit;
}

.label {
  composes: label from '../Input/Input.module.css';
}

.input {
  composes: component from '../Input/Input.module.css';
}

.description {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 6rem;
  font-family: inherit;
  padding: 0.5rem 0.75rem;
}

.fieldset {
  composes: fieldset from '../Input/Input.module.css';
}

.add {
  padding: 0.375rem 1rem;
  font-family: inherit;
  font-size: 0.875rem;
  cursor: pointer;
}

.tags {
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  font-family: inherit;
  padding: 0.5rem 0.75rem;
  background: white;
  margin: 0;
  list-style: none;
  min-block-size: 2.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  box-sizing: border-box;
  display: inline-flex;
  height: 1.5rem;
  align-items: center;
  background: var(--color-tag);
  color: white;
  border: 1px solid white;
  border-radius: var(--border-radius);
  padding-inline-start: 0.5rem;
  gap: 0.25rem;
}

.removeTag {
  border: 0;
  padding: 0;
  width: 1.5rem;
  height: 100%;
  background: url('./xmark-solid.svg') no-repeat center/50%;
  display: inline-flex;
  cursor: pointer;
}

.tagInputContainer {
  flex-grow: 1;
  flex-shrink: 0;
}

.tagInput {
  border: none;
  outline: none;
  width: 100%;
}

.tagInputDescription {
  margin: 0;
  font-size: 0.75rem;
}

.submit {
  composes: primary from '../Button.module.css';
}

.progress {
  color: var(--color-text-primary);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.spinner {
  --size: calc(74rem / 16);

  block-size: var(--size);
  inline-size: var(--size);
  display: block;
  margin-block-end: 0.625rem;
  margin-inline: auto;
  background: url('./spinner.svg') no-repeat center center;
  animation: rotation 1.5s infinite linear;
}

.output {
  display: block;
  margin-block-end: 1.25rem;
  padding-block-end: 7.5rem;
  background: url('./circle-xmark.svg') no-repeat center bottom/6.25rem;
  text-align: center;
  font-size: 1.375rem;
  color: var(--color-text-primary);
}

.retry {
  composes: primary from '../Button.module.css';
  inline-size: 100%;
}
