.container {
  composes: container from '../Container.module.css';
  color: var(--color-text-secondary);
}

.heading {
  font-size: 1.375rem;
}

.label {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  composes: component from '../Input/Input.module.css';
}

.description {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  font-family: inherit;
  inline-size: 100%;
  block-size: 6rem;
}

.fieldset {
  border: 1px solid var(--color-text-secondary);
  border-radius: var(--border-radius);
  padding-block: 0 0.25rem;
  padding-inline: 1.25rem;
}

.submit {
  composes: primary from '../Button.module.css';
}

.modal {
  background: rgb(27 28 29 / 90%);
  border: 0;
}

.modal::backdrop {
  background: rgb(27 28 29 / 90%);
}

.progress {
  color: var(--color-text-primary);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.spinner {
  --size: calc(74rem / 16);

  height: var(--size);
  width: var(--size);
  display: block;
  margin-block-end: 0.625rem;
  margin-inline: auto;
  background: url('./spinner.svg') no-repeat center center;
  animation: rotation 1.5s infinite linear;
}

.output {
  display: block;
  margin-block-end: 1.25rem;
  padding-block-end: 7.5rem;
  background: url('./circle-xmark.svg') no-repeat center bottom/6.25rem;
  text-align: center;
  font-size: 1.375rem;
  color: var(--color-text-primary);
}

.retry {
  composes: primary from '../Button.module.css';
  width: 100%;
}
