.container {
  composes: container from '../Container.module.css';
  max-inline-size: 50rem;
  color: var(--color-text-secondary);
  font-size: 0.875rem;
}

.heading {
  font-size: 1.375rem;
}

.label {
  margin-block-end: 0.5rem;
  inline-size: 100%;
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.array {
  composes: label;
  margin: 0;
  flex-direction: row;
  align-items: center;
}

.input {
  composes: component from '../Input/Input.module.css';
}

.description {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 6rem;
  font-family: inherit;
}

.fieldset {
  border: 1px solid var(--color-text-secondary);
  border-radius: var(--border-radius);
  margin-block-end: 1.5rem;
  padding-block: 0 0.25rem;
  padding-inline: 1.25rem;
}

@media screen and (width >= 30rem) {
  .group {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 1rem;
  }

  .group > * {
    flex-grow: 1;
    flex-shrink: 1;
    margin-block-start: 0;
  }

  .group + * {
    margin-block-start: 0;
  }
}

.add {
  padding: 0.375rem 1rem;
  font-family: inherit;
  font-size: 0.875rem;
  cursor: pointer;
}

.submit {
  composes: primary from '../Button.module.css';
}

.modal {
  background: rgb(27 28 29 / 90%);
  border: 0;
}

.modal::backdrop {
  background: rgb(27 28 29 / 90%);
}

.progress {
  color: var(--color-text-primary);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.spinner {
  --size: calc(74rem / 16);

  block-size: var(--size);
  inline-size: var(--size);
  display: block;
  margin-block-end: 0.625rem;
  margin-inline: auto;
  background: url('./spinner.svg') no-repeat center center;
  animation: rotation 1.5s infinite linear;
}

.output {
  display: block;
  margin-block-end: 1.25rem;
  padding-block-end: 7.5rem;
  background: url('./circle-xmark.svg') no-repeat center bottom/6.25rem;
  text-align: center;
  font-size: 1.375rem;
  color: var(--color-text-primary);
}

.retry {
  composes: primary from '../Button.module.css';
  inline-size: 100%;
}
