---
import { NotFoundResponse } from '../../utilities/NotFoundResponse';

import { paginate } from '../../utilities/paginate';
import CTypeOverview from '../../components/CTypeOverview/CTypeOverview.astro';
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header/Header.astro';

const { page } = Astro.params;

if (!page || page === '0' || !Number.isInteger(Number(page))) {
  return new NotFoundResponse();
}

const {
  data,
  currentPage,
  url: { prev, next },
} = await paginate(page);

if (data.length === 0) {
  return new NotFoundResponse();
}
---

<Layout>
  <Header />
  <section>
    <ul>
      {data.map(({ dataValues }) => <CTypeOverview cTypeData={dataValues} />)}
    </ul>

    <nav>
      {next && <a href={next}>Newer</a>}
      <p>Page {currentPage}</p>
      {prev && <a href={prev}>Older</a>}
    </nav>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
  }

  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
  }

  p {
    color: var(--color-text-primary);
    grid-column: 2 / 3;
  }

  a {
    text-align: center;
    color: var(--color-link);
  }
</style>
