---
import containerStyles from '../components/Container.module.css';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Terms and Conditions">
  <section class={containerStyles.bigContainer}>
    <h1>Terms and Conditions for the CType Hub Website</h1>

    <h2>Application of These Terms and Conditions</h2>
    <p>
      These Terms and Conditions apply to the CType Hub Website (the “CTypeHub
      Website”) by galaniprojects GmbH (hereinafter referred to as
      “galaniprojects”, “us”, “we”, or “our”) a website with software as
      provided under https://ctypehub.galaniprojects.de/ (the “Software”) and
      defined below. PLEASE READ THE TERMS AND CONDITIONS CAREFULLY TO ENSURE
      THAT YOU UNDERSTAND EACH PROVISION. IF YOU DO NOT AGREE TO ALL OF THE
      TERMS, DO NOT ACCESS OR USE THE SOFTWARE. YOU ACCEPT THE TERMS AND
      CONDITIONS, EITHER BY CLICKING TO SIGNIFY ACCEPTANCE, OR BY TAKING ANY ONE
      OR MORE OF THE FOLLOWING ACTIONS: ACCESSING OR USING THE APPLICABLE
      SOFTWARE, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS. YOU REPRESENT
      AND WARRANT THAT YOU ARE 18 YEARS OLD OR OLDER AND HAVE THE RIGHT AND
      AUTHORITY TO ENTER AND COMPLY WITH THE TERMS AND CONDITIONS.
    </p>

    <h2>What CType Hub is</h2>
    <p>
      The CType Hub is essentially a look up service for existing CTypes on the
      KILT Blockchain with an option to create new CTypes. It serves as a
      platform where attesters can find and attest CTypes as part of their
      business model. Users can also search and compare existing CTypes to find
      the one that best suits their needs.
    </p>

    <h2>How CType Hub works</h2>
    <p>
      By visiting the CType Hub, you will be presented with CTypes sorted from
      their latest to oldest creation date. You can view each listed CType’s
      details, including name, total number of attestations, website,
      description, and tags. You can also search for CTypes by inputting either
      Tag or Name in the search bar. Additionally, you can create a CType
      directly from the Hub by filling out the necessary details and clicking
      the “Create” button.
    </p>

    <h2>Board of Moderators</h2>
    <p>
      During the first six months of operation, there will be a Board of
      Moderators who may manually filter out CTypes they at their own discretion
      find inappropriate. However, there is no obligation to do so, nor is there
      a right to be listed in the CType Hub.
    </p>

    <h2>Your Commitments</h2>
    <p>
      In using the CType Hub, you will determine for your purposes if and to
      what extent the listed CTypes are useful for your legal, business, or
      other requirements. As these processes are defined outside of the
      Software, we accept no liability in this respect.
    </p>

    <h2>Liability</h2>
    <p>
      Galaniprojects is liable for damages that are based on an intentional or
      grossly negligent breach of duty by galaniprojects, its legal
      representatives or various agents.
    </p>
    <p>
      In the event of a breach of essential contractual duties, galaniprojects
      shall only be liable for the contractually typical, foreseeable damage if
      this was simply cause by negligence. Significant contractual obligations
      are those whose fulfillment enables the proper execution of the contract
      in the first place and whose compliance you can regularly rely on.
    </p>
    <p>
      The limitation of the two preceding paragraphs also apply to the legal
      representatives and various agents of galaniprojects, if claims are
      asserted directly against them. The liability limitations resulting from
      the two preceding paragraphs do not apply insofar as galaniprojects
      fraudulently concealed the defect or assumed a guarantee for the quality
      of the CTypeHub Website or the usage of the Software.
    </p>
    <p>
      Liability for culpable injury to life, limb and health and liability under
      Product Liability Act remain unaffected. Any additional claims for damages
      are excluded. As the service is just a look up service with an option to
      create new CTypes, no liability is assumed for the displayed CTypes as
      such nor if a CType is not displayed due to technical issues or due to the
      work of the Board of Moderators.
    </p>

    <h2>
      Right to Change Software, the CTypeHub Website and These Terms and
      Conditions
    </h2>
    <p>
      Galaniprojects reserves the right to change the Software, the CTypeHub
      Website and these Terms and Conditions as well as the commercial and
      non-commercial conditions for its usage.
    </p>
    <p>
      Such changes will be made via uploading new Terms and Conditions, and/or
      other information to the CTypeHub Website and any usage of the Software
      will from that time on fall under these new Terms and Conditions, will be
      handled by the new version of the Software and will be for the commercial
      and non-commercial usage.
    </p>

    <h2>License to the CTypeHub Website</h2>
    <p>Copyright (c) 2023, galaniprojects GmbH. All rights reserved.</p>

    <h2>License to the Software</h2>
    <p>Copyright (c) 2023, built on KILT. All rights reserved.</p>

    <h2>Miscellaneous</h2>
    <p>
      These Terms and Conditions and the entire legal relationship between the
      parties shall be governed by the laws of the Federal Republic of Germany
      to the exclusion of the UN Convention on Contracts for the International
      Sale of Goods (CISG) unless the choice of law is legally prohibited. If a
      term of this agreement proves to be invalid or unenforceable, the
      remaining provisions will continue in full force and effect. The place of
      performance and exclusive place of jurisdiction for all disputes arising
      from these Terms and Conditions and the entire legal relationship between
      the parties shall be galaniprojects’ registered office, unless the choice
      of jurisdiction is legally prohibited.
    </p>

    <p class="copyright">© 2023 galaniprojects GmbH.</p>
  </section>
</Layout>

<style>
  section {
    color: var(--color-text-primary);
  }

  h1 {
    font-family: var(--bold-font);
    margin-block: 0 2rem;
  }

  h2 {
    font-size: 1.25rem;
    margin-block-start: 2rem;
  }

  .copyright {
    margin-block: 2rem 0;
  }
</style>
