---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header/Header.astro';
import CTypeDetails from '../../components/CTypeDetails/CTypeDetails.astro';
import { CType, groupForAttestationsCount as group } from '../../models/ctype';
import { NotFoundResponse } from '../../utilities/NotFoundResponse';
import { Tag } from '../../models/tag';

const { id } = Astro.params;
const success = Astro.url.searchParams.has('success');

const cType = await CType.scope('stats').findByPk(id, {
  group,
});

if (!cType) {
  return new NotFoundResponse();
}

const tags = await Tag.findAll({
  where: { cTypeId: id },
  attributes: ['tagName'],
});

cType.dataValues.tags = tags;
---

<Layout>
  <Header />

  {success && <output>Success</output>}

  <section class="view">
    <CTypeDetails cTypeData={cType.dataValues} />
  </section>
</Layout>

<style>
  output {
    display: block;
    margin-block-start: 1.5rem;
    margin-block-end: 1.25rem;
    padding-block-end: 7.5rem;
    background: url('../../components/CreateForm/circle-check.svg') no-repeat
      center bottom/6.25rem;
    text-align: center;
    font-size: 1.375rem;
    color: var(--color-text-secondary);
  }

  .view {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>

<script is:inline>
  const url = new URL(location.href);
  if (url.searchParams.has('success')) {
    url.searchParams.delete('success');
    history.replaceState(null, null, url.toString());
  }
</script>
