.primary {
  display: inline-block;
  box-sizing: border-box;
  block-size: 2.25rem;
  line-height: 2.25rem;
  font-family: inherit;
  font-size: 0.875rem;
  border: var(--color-border);
  border-radius: var(--border-radius);
  background: var(--color-link);
  padding-inline: 0.75rem;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.primary:disabled {
  opacity: 0.5;
}

.search {
  composes: primary;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

@media screen and (width >= 600px) {
  .primary {
    font-size: 1rem;
  }
}
