.container {
  box-sizing: border-box;
  width: 95%;
  padding: 1.25rem;
  border: 1px solid rgba(var(--color-white-rgb) / 10%);
  margin-block-start: 0.25rem;
  background: rgba(var(--color-black-rgb) / 30%);
  border-radius: 0.3125rem;
}
