---
import type { CTypeData } from '../../models/ctype';

interface Props {
  cTypeData: CTypeData;
}

const { title, id } = Astro.props.cTypeData;
---

<li class="container">
  <h2 class="title">
    <a class="link" href={`/${id}`}>
      {title}
    </a>
  </h2>
</li>

<style>
  .container {
    box-sizing: border-box;
    width: 95%;
    padding: 1.25rem;
    border: 1px solid rgba(var(--color-white-rgb) / 5%);
    margin-block-start: 0.25rem;
    background: rgba(var(--color-black-rgb) / 30%);
    border-radius: 0.3125rem;
  }

  .title {
    overflow-wrap: break-word;
    font-size: 1rem;
  }

  .link {
    color: var(--color-link);
  }
</style>
