@font-face {
  font-family: 'Lato Regular';
  src: url('./lato-regular.woff2') format('woff2');
}

:root {
  font-family: 'Lato Regular', sans-serif;
  font-size: 16px;

  --color-background-primary: #1d3340;
  --color-background-secondary: #14242d;
  --color-text-primary: #ebebeb;
  --color-white-rgb: 255 255 255;
  --color-black-rgb: 0 0 0;
  --color-link: #2987cd;
}

html,
body {
  margin: 0;
}

body {
  background: var(--color-background-primary);
}
