---
import './layout.css';

interface Props {
  title?: string;
}

const { title } = Astro.props;
const titleWithDash = title ? `${title} – ` : '';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{titleWithDash}CTypeHub</title>
    <meta name="viewport" content="width=device-width, viewport-fit=cover" />
  </head>

  <body>
    <slot />
  </body>
</html>
