@font-face {
  font-family: 'Lato Regular';
  src: url('./lato-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato Bold';
  src: url('./lato-bold.woff2') format('woff2');
}

:root {
  font-family: 'Lato Regular', sans-serif;
  font-size: 16px;

  --color-background-primary: #1d3340;
  --color-background-secondary: #14242d;
  --color-background-active: #2c5a6d;
  --color-text-primary: #ebebeb;
  --color-text-secondary: #a6deff;
  --color-white-rgb: 255 255 255;
  --color-black-rgb: 0 0 0;
  --color-link: #007dda;
  --color-border: #2ea2f8;
  --border-radius: 5px;
  --bold-font: 'Lato Bold', sans-serif;
  --responsive-margin-inline: calc((100% - min(95%, 75rem)) / 2);
  --responsive-padding-inline: calc(var(--responsive-margin-inline) + 0.75rem);
}

html,
body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background-primary);
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

main {
  flex: 1;
  margin-inline: var(--responsive-margin-inline);
}

@media screen and (width >= 1000px) {
  body {
    background: var(--color-background-primary) fixed url('./cover.jpg')
      no-repeat left/cover;
  }
}
