.label {
  composes: label from '../Input/Input.module.css';
}

.input {
  composes: component from '../Input/Input.module.css';
}

@media screen and (width >= 30rem) {
  .group {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 1rem;
  }

  .group > * {
    flex-grow: 1;
    flex-shrink: 1;
    margin-block-start: 0;
  }

  .group + * {
    margin-block-start: 0;
  }
}

.array {
  composes: label;
  margin: 0;
  flex-direction: row;
  align-items: center;
}
