name: Check pull request
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Configure package manager
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Configure Node
        uses: actions/setup-node@v4.0.3
        with:
          node-version-file: 'package.json'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run linter
        run: pnpm lint

      - name: Run tests
        run: pnpm test

      - name: Build code
        run: pnpm build
